@model IEnumerable<BalloonWorld.Models.Balloon>

@{
    ViewData["Title"] = "Index";
}

<h1>Ballon World</h1>

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('/images/Three.jpeg');
       
        background-size: cover;
        height: 50vh; /* Ensure the background covers the full height of the viewport */
    }

    .text-center {
        text-align: center;
        padding: 50px; /* Adjust as needed */
        color: midnightblue; /* Optional: set text color to be visible against the background */
    }
</style>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occasion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occasion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
